@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Condensed:wght@400;700&display=swap');

html{
font-family: 'Libre Baskerville', serif;
font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    background-color: #1a1a1a;
}